DB_HOST=db
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
REDIS_HOST=redis
REDIS_PORT=6379
AUTH_PORT=5000
JAEGER_UDP=6831
JAEGER=16686

GOOGLE_NAME=google
GOOGLE_SERVER_META_DATA_URL=<GOOGLE ACCOUNT>
GOOGLE_CLIENT_KWARGS={'scope': 'openid profile email'}
GOOGLE_CLIENT_ID='sample_376243914907-82unhaa4ol4retdeev8okd38koon26eu.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET='sample_GOCSPX-ncN9ls7sgFjsQWc8FkZAtSl0eEI5'
